= link_to @playlist, class: 'btn btn-outline-default', style: 'margin: 10px;' do
  %i.fa.fa-arrow-left
  Back to playlist

.card
  %h1 Animes List

  = render 'search_bar'
  = render 'table'

  = paginate @animes
  -# = link_to 'New Anime', new_anime_path
