.navbar {
    background-color: white !important;
    border-top: 4px solid #1530ab;
    border-bottom: 1px solid #e0e0e0;
}

.footer {
    background-color: #1c1c1b;
    color: #e0e0e0;
}

.footer-copyright {
    padding-top: 20px;
    text-align: center;
}