-# music

%div
    = link_to image_tag('musics/_-2bXW5e6ak.jpg' || "musics/#{music.youtube_video_id}.jpg"), "https://youtube.com/w?=#{music.youtube_video_id}", target: '_blank',  style: 'float: left; margin-right: 5vw;'
    %h6= music.name
    
       