<footer class="footer">
  <div class="container">
    <div class="footer-nav">
        
    </div>


    <p class="footer-copyright">
      AnimePlaylist ® Reg. U.S. Pat. & TM Off. <%= Time.zone.now.year %>
    </p>
  </div>
</footer>
